rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {

      allow read: if request.auth != null && request.auth.uid == userId;

      allow create: if request.auth != null && request.auth.uid == userId
                    && !request.resource.data.keys().hasAny(['isAdmin', 'isBanned', 'membershipLevel']);

      allow update: if request.auth != null && request.auth.uid == userId
                    && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['isAdmin', 'isBanned', 'membershipLevel', 'plan', 'subscription']);
    }

    match /carts/{userId} {

      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /orders/{orderId} {

      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    match /product_stats/{productId} {

      allow read: if true;

      allow create: if request.auth != null
                    && request.resource.data.keys().hasOnly(['orderedCount'])
                    && request.resource.data.orderedCount is number;
      allow update: if request.auth != null
                    && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['orderedCount'])
                    && request.resource.data.orderedCount is number;
    }

    match /newsletterSubscribers/{email} {

      allow create: if request.resource.data.email == email;
    }

  }
}
